###  1. Write a function, foo_1, that takes a NumPy array `arr` and returns the indices of the elements that are closest to a given target. If target is not in the given array, it should return ‘no item found’

In [3]:
import numpy as np

In [4]:
array=np.random.randint(1,100,10) ## printing numbers randomly

In [5]:
print(f' array is {array}')

 array is [ 3 94 70  4 55 81 31 41  9 98]

In [64]:
def foo_1(arr, target):
    if target not in arr:
        return 'No Item Found'
    differences = np.absolute(arr - target)  
    indices = np.argsort(differences)
    return indices

In [65]:
array=np.array([3, 8, 7, 7, 7, 7, 7, 8, 7, 10])

In [66]:
foo_1(array,7)

array([2, 3, 4, 5, 6, 8, 1, 7, 9, 0], dtype=int64)

In [9]:
foo_1(array,11)

'No Item Found'

## Explanation : 
* <b> Step -1 </b> : i'm writing a function which accepts array and target number.
* <b> step-2 : </b> : if target not in arr: ,not in means it checks the target number in arr ,if target number is not in array then it prints the return statement of if .
* <b> step-3 : </b> :   differences = np.absolute(arr - target)  ,i'm substracting each number with the target number ,then i can easily find out the nearest indices of numbers .absolute ---> it rremoves the -ve simbol and gives absolute number 
* <b> step-4 : </b> :  i'm assigning argsort to the indices ,argsort --> it sorts the indices of numbers .
* <b> step-5 : </b> : then return the indices

### 2. Write a user defined function foo_2 that takes a  2,3 dim NumPy array arr and returns a new n-1 dim array, where each element is replaced by the count of non-zero elements wrt axis.

In [75]:
def foo_2(arr, axis):
    if arr.ndim == 2:
        x=np.where(arr != 0, 1, 0)
        counts=np.sum(x,axis=axis)
        return counts
    elif arr.ndim == 3:
        x=np.where(arr != 0, 1, 0)
        counts=np.sum(x,axis=axis)
        return counts

In [76]:
array = np.array([[1, 2, 3, 4],
                [0, 5, 0, 0],
                [2, 0, 1, 0]])
foo_2(array,axis=1)

array([4, 1, 2])

In [77]:
foo_2(array,axis=0)

array([2, 2, 2, 1])

In [78]:
arr1 = np.array([[[1, 2, 3, 4], [0, 5, 0, 0], [2, 0, 1, 0]],
                 [[2, 0, 1, 0], [0, 5, 0, 0], [1, 2, 3, 4]]])
foo_2(arr1,axis=0)

array([[2, 1, 2, 1],
       [0, 2, 0, 0],
       [2, 1, 2, 1]])

## Explanation :
* <b> Step-1 </b> : creat a function which accepts array and axis .
arr ----> which is array , axis ----> in arrays we have axis ,when axis=0 it collapsing the rows ,axis=1 is for columns
* <b> step-2 </b> : if arr.ndim==2: ---> if the given array is 2 dim array then it executes the beneath of if statement .
* <b> step-3 </b> : x=np.where(arr != 0, 1, 0) "Where" Function to create a new array x with the same shape as the input array. The elements of x are 1((which is True) the corresponding elements of arr are not equal to 0 ,if it is equal to zero then it is 0(which is False ).
* <b> step-4 </b> :  counts=np.sum(x,axis=axis)---> sum of x ,is nothing but count of non zero elements.
* <b> step-5 </b> : returns counts 
* <b> step-6 </b> : the above functionality is same for 3 dim array

###  3.1 You are given a 2D NumPy array of data representing student scores. Each row represents a student, and each column represents a subject. Extract the scores of all students who scored above 90 in at least one subject. Provide the resulting array.

In [14]:
second_array=np.array([[85,88,89],  
                      [78,89,94], (which is True) 
                      [91,87,90],
                      [87,95,84]])

In [15]:
second_array

array([[85, 88, 89],
       [78, 89, 94],
       [91, 87, 90],
       [87, 95, 84]])

In [16]:
def foo_2(array):
    x=np.any(second_array > 90, axis=1)
    result=array[x]                                   
    print(" students who scored greater than 90:")
    print(result)

In [17]:
foo_2(second_array)

 students who scored greater than 90:
[[78 89 94]
 [91 87 90]
 [87 95 84]]

## Eplanation :

* <b>step-1</b> :creating a numpy array ,with np.array function
* <b>step-2 </b> : here i'm creating function named foo_2,in that function i'm using (np.any) for accessing the students who got more than 90 .
* <b> step-3 </b> : np.any("condition"),it checks the condition we write in the paranthesis ,it prints the output as boolean type .
* <b> step-4</b> : in the conditon ,i'm mentioning axis=1 because ,it is a 2 dim array,in 2 dim array axis 1 is nothing but collpsing rows it checks the condition in row wise.
* <b> step-5</b> : again im writing boolean mask for the result ,then it prints the rows where the condition is true .

###  3.2 You are provided with a 2D NumPy array of data representing sales data for different products. Each row corresponds to a product, and each column represents the monthly sales for a specific month. Calculate the following statistics for each product: mean, median, standard deviation, and the month with the highest sales.

In [18]:
third_array=np.array([[120,150,130,110],
                    [200,180,220,250],
                    [90,100,95,110],     
                    [300,280,320,340]])

In [19]:
third_array

array([[120, 150, 130, 110],
       [200, 180, 220, 250],
       [ 90, 100,  95, 110],
       [300, 280, 320, 340]])

In [20]:
product1=third_array[0,:]
product2=third_array[1,:]
product3=third_array[2,:]
product4=third_array[3,:]

In [21]:
print(f'The mean of product1 is : {np.mean(product1)}') 
print(f'the mean of product2 is : {np.mean(product2)}')
print(f'the mean of product3 is : {np.mean(product3)}')  ## sales of product4 is highest 
print(f'the mean of product4 is : {np.mean(product4)}')

The mean of product1 is : 127.5
the mean of product2 is : 212.5
the mean of product3 is : 98.75
the mean of product4 is : 310.0

In [22]:
print(f'The median of product1 is : {np.median(product1)}')
print(f'the median of product2 is : {np.median(product2)}')
print(f'the median of product3 is : {np.median(product3)}')
print(f'the median of product4 is : {np.median(product4)}')

The median of product1 is : 125.0
the median of product2 is : 210.0
the median of product3 is : 97.5
the median of product4 is : 310.0

In [23]:
print(f'The standard_deviation of product1 is : {np.std(product1)}')
print(f'the standard_deviation of product2 is : {np.std(product2)}')
print(f'the standard_deviation of product3 is : {np.std(product3)}')
print(f'the standard_deviation of product4 is : {np.std(product4)}')

The standard_deviation of product1 is : 14.79019945774904
the standard_deviation of product2 is : 25.8602010819715
the standard_deviation of product3 is : 7.39509972887452
the standard_deviation of product4 is : 22.360679774997898

In [24]:
fst_mnth=third_array[:,0]
scnd_mnth=third_array[:,1]
thrd_mnth=third_array[:,2]
frth_mnth=third_array[:,3]

In [25]:
print(f'first month of sales : {np.sum(fst_mnth)}')
print(f'second month of sales : {np.sum(scnd_mnth)}')
print(f'third month of sales  : {np.sum(thrd_mnth)}')
print(f'fourth month of sales : {np.sum(frth_mnth)}')

first month of sales : 710
second month of sales : 710
third month of sales  : 765
fourth month of sales : 810

## Explanation : 
* <b> Step-1 </b> : finding mean for the all products by using np.mean() function ,it gives the mean .
* <b> step-2 </b> : finding median for all the products by using np.median() function .
* <b> step-3 </b> : finding median for all the products by using np.std() function .
*  <B> step-4 </B> : 4th month has highest sales

###  Create a NumPy array of size 1000 with random integers between 1 and 100. Then, use NumPy functions to find the top 10 most frequently occurring values in the array.

In [60]:
x=np.random.randint(1,101,1000) ## printing numbers randomly by using random function in numpy

In [27]:
x

array([ 47,   6,  75,  86,   6,  31,  47,  95,  45,  43,  88,  78,  74,
        62,  86,  96,  64,  56,  34,  68,  44,  81, 100,  75,  76,  34,
        72,  52,  39,   3,  64,  16,  17,  64,  42,  12,  59,  67,  93,
        30,  82,  20,  23,  49,  17, 100,  71,  33,  32,  19,  73,  39,
        14,  47,  35,   2,  47,  69,  18,  98,  27,  90,  26,  70,  60,
        49,   1,  80,   5,  95,  89,  55,  49,  41,   1,  90,  33,  63,
         4,  20,  12,  63,   4,  69,  10,  43,  67,  89,   1,  38,  19,
        16,  93,  14,  55,  63,  34,  62,  71,  58,  27,  18,   4,  61,
        13,   6,  38,   1,  45,  67,  54,  58,  42,  29,  48,  79,  34,
        54,  53,  42,   3,  36,  38,  74,  76,  55,  30,   1,  79,  35,
        50,  14,  73,  19,  84,  40,   9,  75,  86,  32,  33,  79,  15,
        49,  38,  56,   6,  86,  36,  59,  85,  43,  38,  98,  35,  99,
        76,  74,  11,   1,  73,  52,  26,  95,  32, 100,  88,  21,  12,
        12,  22,  61,  99,  16,  71,  46,  66,  53,  99,  59,  94,  50,
        48,  11,  97,  13,  24,  43,  14,  43,  13,  93,  21,  91,  43,
        71,  81,  50,  22,  86,  62,  40,  84,  12,  68,   7,   2,  70,
        16,  15,  86,  87,  75,  46,  58,  22,  22,  48,   6,   1,  51,
        59,   5,  96,  43,   6,   8,  72,  94,  50,  95,  92,  34,   5,
        15,  25,  10,  37,  70,  73,  13,  69,  34,  95,  88,   5,  30,
         8,  24,  56,  89,  40,  98,  45,  13,  25, 100,  82,  82,  65,
        41,  46,  23,   2,  78,  34,  18,  22,  73,  60,  54,  68,  49,
        15,  13,  67,  69,  76,  45,   5,  16,  44,  49,  76,  56,  38,
        27,  16,  23,  82,  11,  76,  30,  11,  70,  75,  74,  54,  96,
        38,  78,  56,   9,  76,  71,  33,  46,  19,  56,   1,  62,  49,
        10,  61,  27,  16,  59,  51,  57,  13,  47,  24,  55,  32,  57,
        93,   9,  59,  44,  36,  58,  68,  73,  46,  98,  30,  82,  13,
        72,  97,  70,  69,  50,  11,  74,  90,  42,  96,  47,  47,  40,
        97,  84,  46,   8,  33,  73,  72,  64,  97,  20,  23,  30,  19,
        48,  46,  33,  38,   6,  38,  15,  55,  38,   5,  18,   7,  76,
        38,  77,  11,   5,  78,  21,  79,  93,  76,  99,   5,  89,  74,
        25,  33,  96,  90,  17,  45,  23,  37,   2,  51,  13,  25,  17,
        55,  27,  51,  42,  28,  93,  63,  70,  98,  68,   2,   8,  39,
        23,   9,  67,  95,  35,  86,  38,  77,  37,  56,  80,  41,  84,
        25,  29,  24,  91,  36,  56,  86,  48,   8,  48,  61,  99,  85,
        90,  11,  25,  48,  33,  76,  29,  19,  12,  87,   7,  98,  97,
        92,  76,  48,  37,  40,  83,  97,  58,  47,  45,  14,  46,  17,
        87,  11,  96,  46,  22,  38,  34,  59,   2,  73,  81,  48,  29,
        20,  65,  82,  16,  47,  17,  36,  69,  52,  32,  38,  64,  79,
        92,  41,  56,  27,  32,  29,  21,  82,  41,  43,  60,  99,  34,
        61,  75,  17,  24,  29,  72,  60,   6,  47,  57,  11,  16,  59,
        92,  65,  53,  47,  10,   4,  73,  25,  71,   9,  24,   3,  98,
        15,  22,  74,  13,  32,  37,  75,   7,  70,  16,  11,  39,  34,
        58,  30,  76, 100,  72,  41,  28,  94,  16,  30,  25,  71,  52,
        57,  64,  68,  85,   4,  47,  60,  20,  17,  29,  31,  23,  11,
        67,  26,  89,  26,  63,  95,  26,  35,  24,  80,  30,   4,  77,
        62,  88,  11,  92,  12,  11,  22,  81,  63,   1,  19,  97,  16,
        33,  22,  49,  26,  16,  84,   3,  82,  75,  84,  90,  14,   7,
        59,  71,   1,  65,  78,   8,  45,  56,  38,  81,  53,  39,  72,
        95,  39,  35,  23,  63,  12,   3,   2,  64,  87,  65,   3,  70,
        59,  37,  14, 100,   7,   8,  45,  65,  36,  59,  63,  46,  64,
        47,  68,  42,  36,  28,  65,  35,  84,  87,  69,  58,  14,  47,
        45,  53,  75,  46,  97,  11,   8,  73,  77,  21,   9,  60,  71,
         8,  16,  50,  46,   1,  48,   4,  77,  98,  72,  43,  71,   8,
        27,  25,  33,  74,  62,  61,  91,  22,  71,  31,  55,  76,   8,
        40,  52,  55,  28,  91,  80,  51,  88,  89,  73,  41,  74,  74,
        45,  62,  76,  91,  14,  13,   5,  17,   7,  48,  27,  25,  35,
        78,   9,  81,  24,  30,  89,   9,  96,  56,  13, 100,  65,  75,
        38,  38,  13,  97,  42,  69,  92,  93,  23,  67,  21,  46,  49,
        92,  23,  80,  91,  13,  12,  17,  62,  52,   9,  84,  46,   9,
        40,  96,  30,  26,  14,  10,  76,  82,  92,  59,  87,  70,  33,
        70,  36,  41,  49,  70,  23,  49,  83,  33,  67,  64,  50,  83,
        12,  85,   1,  39,  48,  49,  50,  21,  22,  94,  93,  26,  24,
        24,  12,  93,  89,  80,  42,  52,   5,  85,  56,  18,  68,  63,
        60,  72,  12,  14,  67,  57,  32,  19,  88,  84,  84,  71,  67,
        85,  25,  99,  42,  73, 100,  29,  25,  48,   1,  11,  54,  34,
        93,  18,  20,   5,  29,  72,  94,  98,  18,  51,   6,  70,  18,
        83,  90,  51,  48,  43,  76,  53,  90,  60,  48,   7,  27,  54,
        24,  77,  69,  35,   7,  95,  37,  92,  10,   5,  50,  59,   7,
        30,   9,   5,  23,  22,  91,  49,  91,  35,  14,  18,  77,   4,
        90,  95,  51,  89,  78,  81,  73,  87,  38,   5,  65,  19,  46,
        39,  83,  77,  37,  14,  82,  25,  88,   8,  41,  99,  21,  31,
        53,  45,  62,  56,  81,  46,  89,  91,  25,  98,  44,   1,  17,
        85,  93,  65,  31,  88,  36,  71,   3,  59,  63,   4,  17,  28,
        56,  90,  72,  23,  50,  11,  36,  13,  83,  31,  89,  14,  91,
        31,  36,  17,  49,   1,  24,  60,   2,  25,  98,  13,  59,  15,
        10,  59,  39,  53,  99,  65,  83,  22,  55,  18,  15,  82,   8,
        84,  87,  86,  70,  89,  49,  17,  70,  50,  29,  84,  11])

In [83]:
def array(x):
    unique,No_unique = np.unique(x, return_counts=True)
    sorted = np.argsort(-No_unique)    ## it sorting in descending Order(max num to min num) ,Then we get the the highest counts 
    top_10_values = unique[sorted[:10]]   
    top_10_counts = No_unique[sorted[:10]]
    print(unique,No_unique,sep='\n\n\n')
    print('\n'"Top 10 most frequently occurring values:")
    for value, count in zip(top_10_values, top_10_counts):
        print( '\n'f" Number  : {value},       No_times_repeated  : {count}",sep='\n')

In [84]:
array(x)

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100]


[12  5 10  6  7  7 11 10 11 13  9 14 10 10  9  9 11 10  8  8 17 11 14  9
  7 18 12  8 17 10 12  9 16  3  9 10 11 13 12 11  8 14 11 11 12  5 10 11
  8 12  1  9 11 10 11  6 10 12  8  9  4  8  7  6  5 15  8 10 15 15 11 10
 12 10  8  8  9  7 13  9  7 13 11  8 13  5  7  8 12 11 13 10 10  9 13  9
 19  6  9  9]

Top 10 most frequently occurring values:

 Number  : 97,       No_times_repeated  : 19

 Number  : 26,       No_times_repeated  : 18

 Number  : 29,       No_times_repeated  : 17

 Number  : 21,       No_times_repeated  : 17

 Number  : 33,       No_times_repeated  : 16

 Number  : 66,       No_times_repeated  : 15

 Number  : 70,       No_times_repeated  : 15

 Number  : 69,       No_times_repeated  : 15

 Number  : 42,       No_times_repeated  : 14

 Number  : 12,       No_times_repeated  : 14

## Explanation : 

* <b> step-1 </b> : writing a function which accepts array.
* <b> step-2 </b> :  unique,No_unique = np.unique(x, return_counts=True)
* ---> unique = it prints the unique numbers(without repeated ).
* -----> no_unique : it gives the count of repeated unique numbers .
* <b> step-3 </b> :  sorted = np.argsort(-No_unique)  
* -----> argsort = it sorting the values 
* ---->(-No-unique) = it asscending in reverse order (max to min )
* <b> step-4 </b> : top_10_counts = No_unique[sorted[:10]] ---> accesing first 10 numbers which are more repeated